/*
  Project Name: Accordion using CSS & Javascript 
  Author: Soumyadeep Mandal 
  Contact: https://www.linkedin.com/in/imsampro
  Created: September 2020
  Version: 1.0
  File Description: Accordion using CSS & Javascript 
*/

Check Out README.md for more information!

/*
  Project Name: Accordion using CSS & Javascript 
  Author: Soumyadeep Mandal 
  Contact: https://www.linkedin.com/in/imsampro
  Created: September 2020
  Version: 1.0
  File Description: Accordion using CSS & Javascript 
*/
